
<header>
    <nav class="nav-menu">
         <ul class="menu">
             <div class="menu-close fa fa-close">&#10005;</div>
            <a href="/index"> <li class="menu-global menu-top"><span class="menu-text">Search</span></li> </a>
            <a href="/saved-seats"> <li class="menu-global menu-middle"><span class="menu-text">My Seats</span></li> </a>
            <a href="/about-us"> <li class="menu-global menu-bottom"><span class="menu-text">About Us</span></li></a>
         </ul>
    </nav>
</header>