
<header>
    <nav class="nav-menu">
         <ul class="menu">
             <div class="menu-close fa fa-close">&#10005;</div>
             <li class="menu-global menu-top"><span class="menu-text">Search</span></li>
             <li class="menu-global menu-middle"><span class="menu-text">My Events</span></li>
             <li class="menu-global menu-bottom"><span class="menu-text">About Us</span></li>
         </ul>
    </nav>
</header>