
<header>
    <nav class="nav-menu">
        <p class="logo">Save Me A Seat</p>
        <div class="tongue-menu-open-or-close gradient-animation" onclick="tongueMenuOpenOrClose()"></div>
          <div id="tongue-menu-id" class="tongue-menu">
            <a href="/index">Search</a>
            <a href="/saved-seats">My Seats</a>
            <a href="/about-us">About Us</a>
          </div>
    </nav>
</header>
