
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Save Me A Seat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/layout.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/module.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/state.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/menu.css" />
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
</head>