*
{
    outline: solid 1px orange;
}

body 
{
  padding: 10px 10px 0px 10px;
  font-family: 'Lato', sans-serif;
   
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
     
  overflow-x: hidden;
}

.wrapper 
{
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: 10% 20% 60% 10%;
  min-height: 8em;
  margin: 0 auto;


  /* background-color: #F5D547; */
}

.nav-menu
{
/*   grid-row: 1; */
}

.search-input
{

}

#search-input-field
{
    display: block;
    margin: 0 auto;
    height: 2em;
}

.search-results
{ 
/*   grid-row: 2; */
}

.footer 
{
    text-align: center;
}






