*
{
    /* outline: solid 1px orange; */
}

body 
{
  /* padding: 10px 10px 0px 10px; */
  font-family: 'Lato', sans-serif;
   
  background-color: #FEE140;
  /* background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%); */
     
  padding-bottom: 2em;
  overflow-x: hidden;
}

.wrapper 
{
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: 10% 20% 60% 10%;
  min-height: 8em;
  margin: 0 auto;
}

main {
    margin-top: 3em;
}

.nav-menu
{
/*   grid-row: 1; */
}


.footer 
{
    text-align: center;
}


.search-input
{
    text-align: center
}

#search-input-field
{
    display: block;
    margin: 0 auto;
    height: 2em;
}

button
{
    margin: 10px;
    cursor: pointer;
    width: 90%;
}


.search-results
{ 
    display: grid;
}

/* EVENT.EJS DATA FOR A SEARCH PAGE */

.search-results
{ 
    display: grid;

}

/* EVENT.EJS DATA FOR A SEARCH PAGE */

.search-event
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 10px;

    padding: 5px;

    
    overflow-wrap: normal;
    border-radius: 1em;
    box-shadow: -5px 5px 17px -3px rgba(0,0,0,0.75);

    margin: 1em 1em;
}

.box.data.day
{
  grid-column: 1;
  grid-row: 1/3;
  
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}

.box.data.month
{
  grid-column: 1;
  grid-row: 2;
  
  text-align: center;
  font-size: 1em;
  justify-content: center;
  vertical-align: middle; 
}

.box.city
{
  grid-column: 2/4;
  grid-row: 1;

  vertical-align: 0%;
  font-weight: bold;
  font-size: 1.5em;
}

.box.venue
{
  grid-column: 2/4;
  grid-row: 2;

  font-size: 0.8em;
}

.box.button.tickets
{
  grid-column: 2/3;
  grid-row: 3;

  justify-self: center;
}

.box.button.saveaseat
{
  grid-column: 3/4;
  grid-row: 3;

  justify-self: center;
  display: table;
  
}

.button-tickets
{
    margin: 0 0 10px 0;
    /* width: 80px; */
    height: 30px;

}

.button-saveaseat
{
    margin: 0 0 10px 0;
    width: 80px;
    height: 30px;
}

p
{
    margin: 0;
}

/* EVENT PARTIAL FOR A SAVED PAGE */

*
{
    /* outline: 1px black solid; */
}

.saved-event
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-gap: 5px;

    grid-gap: 10px;

    padding: 10px;

    
    overflow-wrap: normal;
    border-radius: 1em;
    box-shadow: -5px 5px 17px -3px rgba(0,0,0,0.75);

    margin: 1em 1em;
}

.saved.data.day
{
    grid-column: 1;
    grid-row: 1/2;

    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}

.saved.data.month
{
    grid-column: 1; 
    grid-row: 2;

    text-align: center;
    font-size: 1em;
    justify-content: center;
    vertical-align: middle;
    /* font-weight: bold; */
}

.saved.data.year
{
    grid-column: 1;
    grid-row: 3;

    text-align: center;
}
 
.saved.lineup
{
    grid-column: 2/4;
    grid-row: 2;
}

.saved.city
{
    grid-column: 2;
    grid-row: 4;
}



.saved.country
{
    grid-column: 3;
    grid-row: 4;


}

.saved.data.time
{
    grid-column: 1;
    grid-row: 4;

    text-align: center;
}

.saved.venue
{
    grid-column: 2/4;
    grid-row: 3;

    font-size: 0.9em;
}

.saved.name
{
    grid-column: 2/4;
    grid-row: 1;

    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
}

.saved-button-tickets
{
    grid-column: 3;
    grid-row: 5;
}
          
.saved-button-delete
{
    grid-column: 2; 
    grid-row: 5;
    
}
     
#saved-button-tickets
{
    margin: 0 0 0 0;
}

#saved-button-delete
{
    margin: 0 0 0 0;
}
        
header
{
    background-color: blue;
    z-index: 2;
    padding-right: 1em;
}



/*-----------------------------------*/
  /* FOOTER - "Made with love by ..."  */
  /* static, stays on a bottom */
  
  footer
  {
    /* position: fixed; */
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin-top: 5em;
  }
  
  #footer-text
  {
    color: darkorange;
    opacity: 0.75;
  }
  
  #footer-text-love
  {
      color: red;
      opacity: 0.75;
  }

  .saved-seats
  {
    display: grid;
  }

  #button-find
  {
    width: 80px;
  }