*
{
    outline: solid 3px orange;
}

.wrapper 
{
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: 10% 20% 60% 10%;
/*   min-width: 10em; */
  min-height: 8em;


  margin: 0 auto;
}

.nav-menu
{
/*   grid-row: 1; */
}

.search-input
{

}

#search-input-field
{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.search-results
{ 
/*   grid-row: 2; */
}

.footer 
{

/*   grid-row: 3; */

}


