.search-page label {
  font-size: 2em;
}

#search-input-field {
  margin-top: 1em;
  width: 90%;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  text-indent: .5em;
}

#button-find {
  width: 90%;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  padding: .3em;
  background-color: #FF0053;
  color: white;
}

#saved-button-delete {
  width: 90%;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  padding: .3em;
  background-color: #FF0053;
  color: white;
}

#saved-button-tickets
{
  width: 90%;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  padding: .3em;
  background-color: #FF0053;
  color: white;
}

.button-saveaseat
{
  /* width: 90%; */
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
  /* padding: .3em; */
  background-color: #FF0053;
  color: white;
}
.about-us {
  max-width: 960px;
  margin: 0 auto;
}

.about-us h1 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 3em;
}

.about-us section {
  overflow: auto;
  margin-top: 2em;
}

.about-us h2 {
  font-size: 1.3em;
  text-align: center;
  clear: both;
}

.about-us img {
  width: 100%;
  margin-bottom: 1em;
}

@media only screen and (min-width: 400px) {
  about-us h2 {
    text-align: left;
  }

  .about-us img {
    width: 100%;
    max-width: 200px;
    margin: 0 1em 1em 0;
    float: left;
  }

  main {
    padding: 0 2em;
  }

}