*
{
    /* outline: 1px solid black; */
}

body 
{

    /* padding: 10px 10px 0px 10px; */
    font-family: 'Lato', sans-serif;
   
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  }
  
  span 
  {
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* color: white; */
    
    /* border: solid 1px black; */
  }
  
  ul 
  {
    display: block;
    list-style-type: none;
    text-align: right;
    /* float: left */
    /* box-shadow: -3px 3px 10px -2px rgba(0,0,0,0.75); */
    /* border-radius: 5px; */
    /* display: flex; */
  }
  

  
  .menu 
  {
    /* margin: 0 0px 0 0; */
    padding-left: 1.25em;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 50px;
    text-align: right;
  }
  
  .menu-close {
    font-size: 0em;
    opacity: 0;
    text-align: center;
    font-weight: bold;
  
    -webkit-transition: 0.2s;
            transition: 0.2s;
  }
  
  .menu-close-visible {
    font-size: 2em;
    opacity: 1;
  
    -webkit-transition: 0.2s 0.4s;
            transition: 0.2s 0.4s;
  }
  
  .menu-global
  {
    z-index: -1;
    position: absolute;
    left: 0;
    height: 10px; 
    width: 100%;
    background-color: #FFA100;

    box-shadow: -2px 2px 5px -2px rgba(0,0,0,0.75);
    transition: 0.2s;
  }
  
  .menu-global:hover 
  {
    /* left: -20px; */
    transition: all 0.2s;
  }
  
  .menu-top 
  {
    top: 0;
    background: #FFD58E
    }
  .menu-middle 
  {
    top: 18px;
    background: #FFB83F;
  }
  .menu-bottom 
  {
    top: 36px;
    background: #FFA100;
  }
  
  .menu-text{
    opacity: 0;
    font-size: 0em;
    /* padding: 10px 0; */
    -webkit-transition: 0.1s;
            transition: 0.1s;
  }
  
  .expand 
  {
    /* position: relative; */
    box-shadow: rgba(0, 0, 0, 0.1) -2.5px 5px 7.5px, rgba(0, 0, 0, 0.1) 2.5px 5px 7.5px;
    width: 320px;
    /* right: 100px; */
  
    height: 50px;
    z-index: 1;
    /* float: left; */
    display: flex;
    /* justify-content: center; */
    left: -240px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-justify: center;
    
  }
  
  .menu-top-expand {
    top: 50px;
    background: #FFD58E;
  
    -webkit-transition: all 0.5s 0.2s, right 0.1s;
            transition: all 0.5s 0.2s, right 0.1s;
  }

  ul.menu
  {
      float: right;
  }
  
  .menu-middle-expand 
  {
    top: 100px;
    /* right: 100px; */
    background: #FFB83F;
  
    -webkit-transition: all 0.5s 0.1s, right 0.1s;
            transition: all 0.5s 0.1s, right 0.1s;
  }
  
  .menu-bottom-expand {
    top: 150px;
    height: 100px;
    /* right: 100px; */
    background: #FFA100;
  
    -webkit-transition: all 0.5s, right 0.1s;
            transition: all 0.5s, right 0.1s;
  }
  
  .menu-text-expand
  {
    text-align: center;
    color: #000000;
    opacity: 0.8;
    padding: 10px;
    font-size: 1em;
    -webkit-transition: all 0.2s 0.7s, font-size 0.1s;
            transition: all 0.2s 0.7s, font-size 0.1s;
  }
  

   /* FOOTER - "Made with love by ..."  */
  footer
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }
  
  #footer-text
  {
    color: darkorange;
    opacity: 0.75;
  }
  
  #footer-text-love
  {
      color: red;
  }