.search-event {
  background-color: #fffcf9;
}

.logo {
  float: left;
  margin-top: .7em;
  margin-left: .5em;
  font-family: 'Bungee Inline', san-serif;
  font-size: 1.3em;
  color: #fffcf9;
}

label
{
  font-family: 'Bungee Inline', cursive;
  color: #fffcf9;
}

.about-us h1
{
  font-family: 'Bungee Inline', cursive;
  color: #fffcf9;
}

.about-us h2
{
  font-family: 'Bungee Inline', cursive;
  color: #fffcf9;
  /* color: #352d39; */
  margin-bottom: 1em;
  /* border: 1px solid #ff6978; */
  text-shadow: -1px 0 #ff6978, 0 1px #ff6978, 1px 0 #ff6978, 0 -1px #ff6978;
}

li
{
  font-family: 'Bungee Inline', cursive;
  color: #fffcf9;
}

.menu-text.menu-text-expand
{
  font-family: 'Bungee Inline', cursive;
  color: #fffcf9;
}

#saved-button-tickets
{
  font-size: 1.1em;

}
#saved-button-delete
{
  font-size: 1.1em;
}

.search-input
{
    text-align: center
}

#search-input-field
{
    display: block;
    margin: 0 auto;
    height: 2em;
}

.footer 
{
    text-align: center;
}

#footer-text
  {
    color: #352d39;
    opacity: 0.75;
  }
  
  #footer-text-love
  {
      color: red;
      opacity: 0.75;
  }

  .saved-seats
  {
    display: grid;
  }

  #button-find
  {
    width: 80px;
  }

  .no-upcoming-events
  {
      text-align: center;
      color: #fffcf9;
      font-weight: bold;
      margin: 1em 1em;
  }
 
  .about-us p
  {
      color: #fffcf9;
      font-size: 1em;
      margin-top: 1em;
      overflow-x: hidden;
      overflow-y: hidden;
  }
 
  .idontknowher
  {
      margin-top: 1em;
      height: 16em;
      max-width: 90%;
      border-radius: 10%;
  }

  main.about-us
  {
    margin-top: 1em;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  main.about-us p
  {
    color: #fffcf9;
    margin: 0 1em 0 1em;
  }

  img
  {
    display: block;
    /* margin: 1em 0 1em 0; */
    max-width: 50%;
    border-radius: 50%;
    border: 1px solid #ff6978;
    justify-self: center;
  }

  p {
    letter-spacing: 1px;
    line-height: 1.6;
  }

  #how-to-use {
    color: #fffcf9;
    text-align: center;
    margin-bottom: 2em;
  }