<!DOCTYPE html>
<html>
        <%- include('../partials/head') %>
<body class="wrapper">
    <%- include('../partials/header') %>
    <main class="about-us">
        <section>
            <h2>George McCadden III</h2>
                <img src="../img/george.png" alt="George McCadden III" />
                <p>George McCadden III is a full-stack JavaScript software developer from Virginia who is extremely passionate about creating an immersive experience through tech. With his background in startup development and branding, he collaboratively builds projects to delight his audiences through immense research and creative direction.</p>
            </section>

        <section>
            <h2>Dmitry Polevoy</h2>
            <img src="../img/dmitry.jpg" alt="Dmitry Polevoy" />
            <p>Dmitry is a front-end / full-stack software developer with a experience in a quality assurance. A wild mix of academic knowledge, creativity, excitement, and natural talent to break things. Passioned about people and a ways software transform their lives.</p>
        </section>

        <section>
            <h2>Evan Slaton</h2>
            <img src="../img/evan.jpg" alt="Evan Slaton" />
            <p>Formerly a technical recruiter, while recruiting for a web developer position Evan discovered that web development offers the opportunity to create something that effects meaningful change and solve complex problems. After spending a few months studying and working on pesonal projects, he decided that this software development was the career path he wanted to take and relocated to Seattle to join one of the most talented tech communities in the world.</p>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>