<!DOCTYPE html>
<html>
        <%- include('../partials/head') %>
<body class="wrapper">
    <%- include('../partials/header') %>

    <main class="about-us">
        <h1>About the developers</h1>
        <section>
            <h2>George McCadden III</h2>
            <img src="https://via.placeholder.com/500x500" alt="" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus nunc, ultricies euismod gravida vel, volutpat ut diam. Curabitur neque risus, finibus ut sem a, sollicitudin venenatis quam. Ut semper lorem quis orci pulvinar placerat. Sed bibendum felis at leo malesuada tincidunt. Donec dictum malesuada libero, eget luctus tellus egestas nec. Quisque commodo, ante non bibendum ornare, tellus lectus ullamcorper diam, et blandit lorem est sed tellus. Aenean mattis tortor ac dolor tristique varius. Nunc fermentum, purus non bibendum feugiat, erat nisi sollicitudin odio, sed tincidunt leo nisi id quam. Vestibulum posuere sagittis risus, nec facilisis nibh fringilla vel. Etiam libero ex, placerat vitae placerat quis, rutrum ut eros. Maecenas lacinia leo vel lobortis lacinia. Aenean pretium aliquam ante, vel vestibulum nisi elementum et.</p>
        </section>

        <section>
            <h2>Dmitry Polevoy</h2>
            <img src="https://via.placeholder.com/500x500" alt="" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus nunc, ultricies euismod gravida vel, volutpat ut diam. Curabitur neque risus, finibus ut sem a, sollicitudin venenatis quam. Ut semper lorem quis orci pulvinar placerat. Sed bibendum felis at leo malesuada tincidunt. Donec dictum malesuada libero, eget luctus tellus egestas nec. Quisque commodo, ante non bibendum ornare, tellus lectus ullamcorper diam, et blandit lorem est sed tellus. Aenean mattis tortor ac dolor tristique varius. Nunc fermentum, purus non bibendum feugiat, erat nisi sollicitudin odio, sed tincidunt leo nisi id quam. Vestibulum posuere sagittis risus, nec facilisis nibh fringilla vel. Etiam libero ex, placerat vitae placerat quis, rutrum ut eros. Maecenas lacinia leo vel lobortis lacinia. Aenean pretium aliquam ante, vel vestibulum nisi elementum et.</p>
        </section>

        <section>
            <h2>Evan Slaton</h2>
            <img src="https://via.placeholder.com/500x500" alt="" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus nunc, ultricies euismod gravida vel, volutpat ut diam. Curabitur neque risus, finibus ut sem a, sollicitudin venenatis quam. Ut semper lorem quis orci pulvinar placerat. Sed bibendum felis at leo malesuada tincidunt. Donec dictum malesuada libero, eget luctus tellus egestas nec. Quisque commodo, ante non bibendum ornare, tellus lectus ullamcorper diam, et blandit lorem est sed tellus. Aenean mattis tortor ac dolor tristique varius. Nunc fermentum, purus non bibendum feugiat, erat nisi sollicitudin odio, sed tincidunt leo nisi id quam. Vestibulum posuere sagittis risus, nec facilisis nibh fringilla vel. Etiam libero ex, placerat vitae placerat quis, rutrum ut eros. Maecenas lacinia leo vel lobortis lacinia. Aenean pretium aliquam ante, vel vestibulum nisi elementum et.</p>
        </section>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>