<!DOCTYPE html>
<html>
        <%- include('../partials/head') %>
<body class="wrapper">

        <%- include('../partials/header') %>

    <main>

        <div class="search-input">
            <form id="search-form" action="/search" method="GET">
                <label for="search">Search for a artist</label>
                <input type="text" name="search" id="search-input-field" placeholder="Enter a artist here">
                <button type="submit">Find</button>
            </form>
        </div>

        <div class="search-results">
          <% eventList.forEach((event) => { %>
            <article>
              <%- include('../partials/event', {event: event}) %>
            </article>
          <% }) %>
        </div>

    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>