<!DOCTYPE html>
<html>
        <%- include('../partials/head') %>

<body class="wrapper">

        <%- include('../partials/header') %>

    <main>



        <div class="saved-seats">
            <!-- here you include event.js (need to change a button to 'delete') -->
        </div>

        
    </main>

    <%- include('../partials/footer') %>

</body>
</html>