<!DOCTYPE html>
<html>
        <%- include('../partials/head') %>

<body class="wrapper">

        <%- include('../partials/header') %>

    <main>



        <div class="saved-seats">

            <% eventList.forEach((event) => { %>
                <article>
                  <%- include('../partials/event', {event: event}) %>
                </article>
              <% }) %>

        </div>

        
    </main>

    <%- include('../partials/footer') %>

</body>
</html>